img {
  -ms-interpolation-mode: bicubic;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0pt;
}

#clean_button {
  position: fixed;
  top: 10pt;
  right: 20pt;
  z-index: 2;
  border: none;
  cursor: pointer;
  background: no-repeat;
  opacity: 0.45;
}

#keywords_area {
  display: grid;
  grid-template-columns: 7fr 520pt 5fr;
}

a:link {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

#keywords_editor_area {
  padding: 0 5pt 0 4pt;
  width: 520pt;
  margin: 0;
  min-height: 51pt;
  display: grid;
  grid-template-columns: 1fr 10pt 110pt;
}

#synonyms_search_button {
  border: none;
  cursor: pointer;
  background: no-repeat;
  font-size: medium;
  width: 45pt;
}

#results_area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10pt 4pt auto;
  height: 60%;
}

#synonyms_list_area {
  margin-right: 1pt;
  display: none;
}

#search_expression_editor_area {
  margin-left: 1pt;
  margin-right: 15pt;
  display: none;
}

#container {
  width: 100%;
  height: 80%;
  display: inline-block;
  margin: 0 auto;
  transform: translateZ(0);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  white-space: pre-wrap;
  word-break: break-all !important;
  background: transparent;
  pointer-events: none;
  overflow: auto !important;
}

.highlights {
  height: 96%;
  word-wrap: normal;
  font-family: 'Noto Sans KR', sans-serif !important;
  color: transparent;
  border: 1px solid transparent !important;
  background: transparent;
  font-size: 20px !important;
  padding: 10px !important;
  position: absolute;
  top: 0;
  overflow: auto !important;
}

marka {
  color: transparent;
  opacity: 0.7;
  background: #7fec8d;
}

markb {
  color: transparent;
  opacity: 0.7;
  background: #ff9f22;
}

markc {
  color: transparent;
  opacity: 0.7;
  background: #5ab5ff;
}

markd {
  color: transparent;
  background: #ffd700;
}

mark_inner_a {
  color: #7fec8d;
}

mark_inner_b {
  color: #ff9f22;
}

mark_inner_c {
  color: #5ab5ff;
}

mark_inner_d {
  color: #ffd700;
}

color_inner_gray {
  color: #dddddd;
}

#search_expression_editor {
  font-family: 'Noto Sans KR', sans-serif !important;
  word-break: break-all !important;
  word-wrap: normal;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 20px !important;
  border: 1px solid #999999 !important;
  border-radius: 2px;
  background: transparent;
  padding: 10px !important;
  margin: 0 !important;
  overflow: auto !important;
}

#cpc_editor+.tag-editor {
  background: #fafafa;
  border: 1px solid #aaaaaa;
  min-height: 21pt;
}

#cpc_editor+.tag-editor .tag-editor-tag {
  color: #ff7f00;
  background: #fff;
  border: 1px solid #ff7f00;
  border-radius: 5px;
  padding: 0px 5px 0px 5px !important;
  font-size: 12pt;
}

#cpc_editor+.tag-editor .placeholder {
  font-size: 10pt;
  color: #bbb;
  padding: 0px;
}

#ipc_editor+.tag-editor {
  background: #fafafa;
  border: 1px solid #aaaaaa;
  min-height: 21pt;
}

#ipc_editor+.tag-editor .tag-editor-tag {
  color: #ff7f00;
  background: #fff;
  border: 1px solid #ff7f00;
  border-radius: 5px;
  padding: 0px 5px 0px 5px !important;
  font-size: 12pt;
}

#ipc_editor+.tag-editor .placeholder {
  font-size: 10pt;
  color: #bbb;
  padding: 0px;
}

#keywords_editor+.tag-editor {
  background: #fafafa;
  border: 1px solid #aaaaaa;
  border-radius: 35px;
  padding: 10px 10px 10px 7px;
}

#keywords_editor+.tag-editor .tag-editor-tag {
  color: #3a3a3a;
  background: #fff;
  border: 0.1rem solid #3a3a3a;
  border-radius: 30px;
  font-size: 15pt;
}

#keywords_editor+.tag-editor .tag-editor-spacer {
  width: 7px;
}

#keywords_editor+.tag-editor .tag-editor-delete {
  display: none;
}


#synonyms_search_button.button:active {
  margin: 2pt 0 0 2pt
}

#generate_button.button {
  width: 100%;
  height: 25pt;
  margin-top: 2pt;
  font-size: large;
  color: #333;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#generate_button.button:active {
  margin-top: 4pt;
  margin-left: 2pt;
  border: 1px solid #eee;
  background-color: #efefef;
  box-shadow: 0;
}

#patents_search_button.button {
  width: 100%;
  height: 25pt;
  margin-top: 2pt;
  font-size: large;
  color: #333;
  border: 1px solid #eaeaea;
  background-color: #eeeeee;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#patents_search_button.button:active {
  margin-top: 4pt;
  margin-left: 2pt;
  border: 1px solid #eaeaea;
  background-color: #e7e7e7;
}

#desc_area {
  position: fixed;
  width: 95%;
  cursor: default;
  color: #292929
}

/* 동의어 리스트 체크박스 */
input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  display: inline-block;
  cursor: default;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 1px;
}

input[type=checkbox]+label:active:before,
input[type=checkbox]:checked+label:active:before {
  content: "";
  /* 체크모양 */
  background: #ffbb00;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 0;
  line-height: 20px;
  border-radius: 3px;
}

input[type=checkbox]:checked+label:before {
  content: "\2713";
  /* 체크모양 */
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  background: #ffbb00;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 0;
  line-height: 20px;
  border-radius: 3px;
}

/* 동의어 동기화 체크박스 */
input[type=checkbox].synonyms_settings {
  display: none;
}

input[type=checkbox].synonyms_settings+label {
  display: inline-block;
  cursor: default;
  position: relative;
  padding-left: 23px;
  margin-right: 3px;
  margin-top: 5px;
}

input[type=checkbox].synonyms_settings+label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffffff;
  border: 1px solid #555555;
  border-radius: 1px;
}

input[type=checkbox].synonyms_settings+label:active:before,
input[type=checkbox].synonyms_settings:checked+label:active:before {
  content: "";
  /* 체크모양 */
  background: #21d111;
  text-align: center;
  width: 17px;
  height: 17px;
  border: 0;
  line-height: 17px;
  border-radius: 3px;
}

input[type=checkbox].synonyms_settings:checked+label:before {
  content: "\2713";
  /* 체크모양 */
  font-size: 13px;
  font-weight: 800;
  color: #ffffff;
  background: #21d111;
  text-align: center;
  width: 17px;
  height: 17px;
  border: 0;
  line-height: 17px;
  border-radius: 3px;
}

color-orange {
  color: #555555;
  font-weight: 500;
  border-radius: 2px;
  background-color: #ffd300;
  padding: 1px 3px;

}

color-sky {
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  background-color: #0095e9;
  padding: 1px 3px;
}

ug {
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 3px dotted rgb(76, 197, 28);
}

#demo {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 100pt;
  border: 2px solid #202020;
  font-size: 30px;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: center;
  z-index: 100;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}